<%- include("header") -%>
<h2>ABOUT PAGE</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, qui? Ratione inventore tempora,
     voluptate ex repudiandae quod architecto modi quo ea autem doloremque qui unde porro deleniti 
     consectetur, nihil quam.</p>
<%- include("footer") -%>
    